html {
  height: 100%;
  overflow: hidden;
}
body {
  color: #fff;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Luna";
}

header {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  position: relative;
}
header,
header:before {
  background: 50% 50% / cover;
}
header::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: url("../img/main.JPG");
  background-size: cover;
  background-position: center;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  margin: calc(50vh - 100px) calc(50vw - 325px);
  width: 650px;
}

header * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

nav {
  position: absolute;
  bottom: -600px;
  width: 100%;
}

nav ul {
  background: rgb(255, 255, 255);
  list-style: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem calc(50% - 500px);
  height: 226px;
}

nav li {
  display: inline-block;
  position: sticky;
  min-width: 8rem;
  max-width: 16rem;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

nav a:hover {
  color: rgb(248, 0, 0);
  transition: all ease-in-out 300ms;
}

nav a:before {
  content: "";
  display: block;
  height: 5px;

  background-color: rgb(155, 53, 238);
  position: absolute;
  top: 35px;
  width: 0%;

  transition: all ease-in-out 500ms;
}
